SERVER_PORT=8081
ORACLE_URL=jdbc:oracle:thin:@10.0.20.56:1521/FREEPDB1
ORACLE_USERNAME=clinic
ORACLE_PASSWORD=change-me
APP_BASE_URL=https://www.example.co.kr
ADMIN_APP_URL=https://admin.zerodayclinic.p-e.kr:443/
LOCAL_ADMIN_APP_URL=http://localhost:8081/admin
MAIL_USERNAME=change-me@example.com
MAIL_PASSWORD=change-me
